Source: lua-luacov
Section: interpreters
Priority: optional
Maintainer: Daniel Collins <solemnwarning@solemnwarning.net>
Build-Depends: debhelper (>= 11), dh-lua
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://keplerproject.github.io/luacov/
Vcs-Git: https://github.com/solemnwarning/luacov-debian.git
Vcs-Browser: https://github.com/solemnwarning/luacov-debian/

Package: lua-luacov
Architecture: all
Depends: ${misc:Depends},
         lua5.2 | lua,
         lua-filesystem
XB-Lua-Versions: ${lua:Versions}
Provides: ${lua:Provides}
Description: LuaCov is a simple coverage analyzer for Lua scripts. When a Lua
 script is run with the luacov module loaded, it generates a stats file with
 the number of executions of each line of the script and its loaded modules.
 The luacov command-line script then processes this file generating a report
 file which allows one to visualize which code paths were not traversed, which
 is useful for verifying the effectiveness of a test suite.
